* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0px;
    width: 100%;
    height: 100%;
    perspective: 1px;
    transform-style: preserve-3d;
    overflow-y: scroll;
    overflow-x: hidden;
}

.display-flex {
    display: flex;
}

.display-block {
    display: block!important;
}

.parallax {
    /*background-image: url("../images/cuetzalanpuebla.jpeg");*/
    background: #FFF fixed no-repeat 50% 50%;
    width: 100%;
    height: 100vh;
    background-size: cover;
    min-width: 100%;
    min-height: 100%;
}

#section1{
    background: url("../images/cuetzalanpuebla.jpeg") no-repeat 50% 50%;
    width: 100%;
    height: calc(100vh);
    position: relative;
    background-size: cover;
}

#section2{
    background-image: url("../images/cuetzalan_cuevas_cascadas.jpg");
    padding: 20px;
}

#section3{
    background-image: url("../images/lagoCuetzalan.jpg");
}

#section4{
    
    background-image: url("../images/lagoCuetzalan.jpg");
}

/* #section3:hover{
    -webkit-transform:scale(1.3);transform:scale(1.3);
} */
