.top_div{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: top;
}

.bottom_div {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: bottom;
}

.animado {
    opacity: 0;
    transition-duration: 4s;
}

.mostrarIzquierda{
    animation: mostrarIzquierda 6s;
}

@keyframes mostrarIzquierda {
    0% {
        transform: translateX(-100%);
        transition-duration: 3s;
    }
    100% {
        transform: translateX(0%);
    }
}

.mostrarDerecha {
    animation: mostrarDerecha 6s;
}

@keyframes mostrarDerecha {
    0% {
        transform: translateX(100%);
        transition-duration: 3s;
    }
    100% {
        transform: translateX(0%);
    }
}

.titulo-3{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    color: rgb(255, 255, 255);
    font-weight: bold;
}

.initial-position{
    padding-top: 180px;
}

.initial-position-bottom {
    padding-top: 130px;
}

.margin-0 {
    margin: 0px!important;
}

.effect-s2 {
    position: relative;
    pointer-events: none;
}

.effect-s2:nth-child(even){
    background: transparent;
}

.col-5 {
    width: 50%;
}

.pad-top-desc {
    padding-top: 20px;
}

.text-desc {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: rgb(255, 255, 255);
    font-weight: normal;
}

.link {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.ul-actividades {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.pl-ul {
    padding-left: 30px;
}

.li-actividad {
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    color: rgb(47, 206, 55);
    font-weight: bold;
}

.check-list {
    margin: 0;
    padding-left: 1.2rem;
}

.check-list li {
    position: relative;
    list-style-type: none;
    padding-left: 2.5rem;
    margin-bottom: 0.5rem;
}

.check-list li a {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    color: beige;
    text-decoration: none;
}

.check-list li:before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: -2px;
    width: 5px;
    height: 11px;
    border-width: 0 2px 2px 0;
    border-style: solid;
    border-color: #00a8a8;
    transform-origin: bottom left;
    transform: rotate(45deg);
}

