.center_div{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.padding-div {
    width: 800px;
    padding: 0px 10px 0px 10px;
    background: rgb(255, 172, 78);
    transition: background-color 2s, width 5s;
}

.padding-div:hover{
    background: rgb(89, 71, 252);
    width: 1000px;
}


.titulo{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 80px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-align: center;
}

.titulo::before{
    background: 50% 50% / cover;
    content: "";
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    display: block;
    transform-origin: center center;
    transform: translateZ(1-px) scale(2);
}

.efect-titulo{
    position: relative;
    transform-style: inherit;
}